.titlebar {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: 50px;
  border-bottom: 1px solid lightgrey;
  height: 48px;
  background-color: inherit;
  margin: 0;
}

.titlebar-logo {  
  grid-column: 1 / span 1;
  border-right: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  margin-left: 8px;
}

.logo {
  display: block;
  width: 17px;
  height: 14px;
  background: url("./../../../assets/images/pp_logo.svg");
  background-size: 17px 14px;
  margin-top: 18px;
}

.title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14pt;
  margin-left: 4px;
}

.titlebar-title {
  grid-column: 2 / span 1;
  justify-self: start;
  margin-left: 16px;
  font-family: Helvetica;
  font-size: 16pt;
  padding: 0;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
}

.titlebar-search {
  grid-column: 3 / span 1;
  background-color: lightblue;
  align-items: right;
  margin: 16px;
}
